.page {
	display: flex;
	flex-direction: column;
	padding: 80px;
	gap: 64px;
	font-family: var(--font-geist-sans);

	@media (max-width: 600px) {
		padding: 80px 20px;
	}
}

.main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	grid-row-start: 2;
	overflow: hidden;
}

.header {
	display: flex;
	gap: 16px;
	font-size: 2.5em;
	align-items: center;

	@media (max-width: 600px) {
		flex-direction: column;
		text-align: center;
		font-size: 2.2em;
	}
}

.footer {
	display: flex;
	gap: 8px;

	@media (max-width: 600px) {
		flex-direction: column;
		align-items: center;
		gap: 16px;

		.separator {
			display: none;
		}
	}
}

.footer a {
	color: #1083fe;

	/* Enable hover only on non-touch devices */
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			text-decoration: underline;
			text-underline-offset: 2px;
		}
	}
}

.noscript {
	font-size: 1.5em;
	font-weight: bold;
}
